@page
@model WebApp.Pages.MarcaVehiculo.GridModel
@{
}

<div class="container">

    <div class="card">
        <div class="card-header">
            Marca Vehiculo
        </div>
        <div class="card-body">
            <div class="row">
                 <div class="col-12">
                     <table id="GridView" class="table table-bordered table-striped table-hover">
                         <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Descripcion</th>
                                 <th>Estado</th>
                                 <th>Accion</th>
                             </tr>
                         </thead>
                         <tbody>
                         </tbody>
                     </table>
               </div>
            </div>      
          </div>
        </div>


</div>

